<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shaun.home" >
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.BIND_WALLPAPER" />
    <uses-permission android:name="android.permission.DEVICE_POWER"/>

    <application
        android:allowBackup="true"
        android:sharedUserId="android.uid.system"
        android:launchMode="singleTask"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="shaun.home.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="shaun.home.AppDrawer"
            android:launchMode="singleTask" >
        </activity>
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->
            <!--<category android:name="android.intent.category.DEFAULT" /></intent-filter>-->
        <!--<service android:name="android.server.wallpaper.WallpaperService"-->
            <!--&gt;</service>-->
        <provider
        android:authorities="com.bennyv4.fivesecdelaycp"
        android:grantUriPermissions="true"
        android:exported="true"
        android:enabled="true"
        android:name=".Kustom"/>
        <receiver
            android:name=".AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN, an">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>`
    </application>

</manifest>